<!DOCTYPE html>
<html>
<head>
  <title>Wikistorm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="block">
  <div id="header">
    <span>WikiStorm</span>
  </div>
</div>
<div class="block">
<div id="nav">
  <ul>
    <li><%= link_to 'Home', "/" %> |</li>
    <li><%= link_to 'Archive', '/blogs' %> | </li>
    <li><%= link_to 'Links', '/links' %> | </li>
    <li><%= link_to 'Contact Us', '/contactus' %></li>
  </ul>
 </div>
</div>


<div id="content">

<%= yield %>

</div>

<div id="footer">
<p>footer</p>
</div>

</body>
</html>
